.jumbotron{
	margin-top: -120px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    padding-bottom: 15%;
    background-image: linear-gradient(rgba(153, 43, 88, 1),rgba(190, 56, 76, 1),rgba(216, 109, 39, 1),rgba(216, 109, 39, 1),rgba(216, 109, 39, 1),rgba(238, 111, 30, 1));
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: rgba(0,0,0,0.3);
}

.slot input[type="text"], .slot input[type="email"], .slot input[type="password"], .slot-main input[type="text"], .slot-member input[type="text"], .slot-member input[type="email"], .btn-form{
    border:0;
    background: none;
    display: block;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 24px;
    color: #ffffff;
}

.slot-main{
    margin: 2% 0 5% 0;
    text-align: center;
    color: #ffffff;
}

.slot-main input[type="text"]{
    text-align: center;
}

.slot-member{
    margin-bottom: 4%;
    color: #ffffff;
}

.form-area{
    margin-top: 100px;
}

.head-form{
    text-align: center;
    color: #ffffff;
}


.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */

.trn{
	background-color: rgba(0,0,0,0.3);
}

.equal-height{
	
	height: 500px;
}

.j1{
	padding-top: 150px;
}

.j2{
	background-color: rgba(255,255,255,0.3);
	
}

@media (min-width:770px){
	.j1{
		padding-top: 150px;
	}

	.j2{
		padding-top: 130px;

	}

	.button-right{
		text-align: right;
	}

	.caption-left{
		text-align: left;
	}

	.j3 .container .row .caption{
		padding-top: 100px;

	}
	.j3 .container .row .img-fluid{
		padding-top: 100px;
		
	}
	
}


@media (max-width: 769.98px){


	.equal-height{

		max-height:400px;
	}

	.display-4{
		font-size: 35px;
	}


	.j1{

		padding-top: 120px;
	}

	.j2{
		padding-top: 80px;

	}


	.button-right{
		text-align: right;
	}

	.caption-left{
		text-align: left;
	}


	.j3 .container .row .caption{
		padding-top: 20px;
	}
	
	.j3 .container .row .img-fluid{
		margin-top: 80px;
		
	}

}

@media (max-width: 426px){
	.equal-height{
		text-align: center !important;
	}

	.button-right{
		text-align: center;
	}

	.caption-left{
		text-align: center;
	}

	.row .col-sm-4{
		margin-bottom: 40px;
	}

}


.btn{
	border-radius: 25px;
}


.box{
	text-align: center;
	background-color: rgba(255,255,255,0.3);
	color: black;
	border-color: white;
	border-radius: 10px;
}


.copyright{
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	color: white;
}

.footer-top{
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
}



/*itv*/ /*seminar*/
.k1{
	padding-top: 80px;
}	

@media (max-width: 769px){
	.k1{
		padding-top: 10px;
	}
	.container .caption1{
		margin-top: 60px;
	}
	.capt{
		padding-top: 20px;
	}
}

@media (max-width: 426px){
	.k1{
		margin-top: 10px;
		text-align: center;
	}

	.equal-height{
		text-align: center !important;
	}

	.caption-center{
		text-align: center;
	}

}
